.halaman{
  background-color: aqua;
}
.warana{
    background-color: gold;
}
.texs{
    text-align: right;
}
.hrurf{
    text-align: center;
}
.MOUSE{
color: rgb(0, 5, 160); text-align: center; border: 8cm; font-family: 'Courier New', Courier, monospace;
}