
.rena{
    text-align: center;
}
.warni{
    line height: 16px;
    margin bottom: 15px;
    line height: 1.6;
    color: #fff;
}
.latar{
   background-color: crimson;
}
.kiri{
    text-align: right;
}
.judl{
    text-align: center;
    color: #fff;
    font-size: 28px;
    margin-bottom: 30px;
}
.img{
  display: block;
  margin: 10px auto;
  border-radius: 8px;
  max-width: 90%;
  height: auto
}